.place-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    grid-template-rows: 1fr;
    max-height: 152px;
    margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
    .place-name {
        gap: 32px;
    }
}

@media screen and (max-width: 767px) {
    .place-name {
        gap: 28px;
        max-height: 46px;
    }
}

@media screen and (max-width: 319px) {
    .place-name {
        display: flex;
        flex-direction: column;
        min-height: 135px;
        margin-bottom: 32px;
        gap: 0;
    }
}