@font-face {
    src: url(../../vendor/fonts/inter.css);
    font-family: 'Inter';
}

div {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

.page {
    background-color: #E5E5E5;
    margin: 0 auto;
    max-width: 1280px;
    color: #FFFFFF;
}