.place-inform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    grid-template-rows: 1fr;
    max-height: 460px;
    margin-bottom: 80px;
}

.place-inform:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place-inform {
        gap: 32px;
        max-height: 440px;
    }
}

@media screen and (max-width: 767px) {
    .place-inform {
        gap: 28px;
        max-height: 100%;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 319px) {
    .place-inform {
        display: flex;
        flex-direction: column;
        max-height: 865px;
        margin-bottom: 50px;
        gap: 0;
    }
}