.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 984px;
    min-height: 100%;
    margin: 0 148px;
    flex-direction: column;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}