.place-inform__paragraph_two {
    margin: 0;
    margin-top: 26px;
    max-width: 484px;
    max-height: 203px;
}

@media screen and (max-width: 1023px) {
    .place-inform__paragraph_two {
        max-width: 456px;
        max-height: 377px;
    }
}
@media screen and (max-width: 767px) {
    .place-inform__paragraph_two {
        max-width: 352px;
        max-height: 100%;
        margin-top: 25px;

    }
}

@media screen and (max-width: 319px) {
    .place-inform__paragraph_two {
        margin: 25px 16px 0 16px;
        max-width: 288px;
    }
}