.footer__link {
    margin: 0;
    margin-right: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 320px) {
    .footer__link {
        margin-bottom: 32px;
        margin-right: 0;

    }

    .footer__link:last-child {
        margin-bottom: 0;
    }
}