.place__paragraph {
    margin: 0 0 26px 0;
    max-width: 484px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 810px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 110%;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        line-height: 163%;
    }
}

@media screen and (max-width: 460px) {
    .place__paragraph {
        font-size: 10px;
        line-height: 104%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: 0 16px 25px 16px;
        font-size: 16px;
        line-height: 163%;
    }

    .place__paragraph:last-of-type {
        margin: 0px 16px 0 16px;
    }
    
}