.place-inform__paragraph_one {
    margin: 0;
    max-width: 484px;
    min-height: 145px;
    
}

@media screen and (max-width: 1023px) {
    .place-inform__paragraph_one {
        max-width: 456px;
        min-height: 174px;
    }
}

@media screen and (max-width: 767px) {
    .place-inform__paragraph_one {
        max-width: 352px;
        min-height: 104px;
    }
}

@media screen and (max-width: 319px) {
    .place-inform__paragraph_one {
        margin: 32px 16px 0 16px;
        max-width: 288px;
        min-height: 156px;

    }
}