.lead__subtitle {
    padding: 0;
    margin: 32px 0 64px 0;
    max-width: 640px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;

}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 360px) {
    .lead__subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        margin-top: 16px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 125%;
    }
}