.place__link {
    display: flex;
    color: #fff;
    max-width: 456px;
    min-height: 22px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
}

@media screen and (max-width: 490px) {
    .place__link {
        font-size: 15px;
        line-height: 122%;
    }
}


@media screen and (max-width: 319px) {
    .place__link {
        font-size: 18px;
        line-height: 122%;
        max-width: 288px;
    }
}