.place__link {
    display: flex;
    color: #fff;
    max-width: 456px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    margin-top: 12px;
}

.place__link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 490px) {
    .place__link {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        font-size: 18px;
        max-width: 288px;
    }
}