.cover__title {
    margin: 0;
    max-width: 560px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
}

@media screen and (max-width: 580px) {
    .cover__title {
        font-size: 62px;
    }
}

@media screen and (max-width: 460px) {
    .cover__title {
        font-size: 41px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        max-width: 288px;
    }

}