.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(76px 152px) 1fr;
    gap: 48px 40px;
    max-height: 100%;
    max-width: 984px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;

    }
}

@media screen and (max-width: 460px) {
    .place {
        gap: 48px 10px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        gap: 0;
        margin-bottom: 50px;
    }

    .place:last-child {
        margin-bottom: 0;
    }
}