.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(76px 152px) 1fr;
    gap: 40px;
    max-height: 660px;
    max-width: 984px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place {
        gap: 0 32px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        gap: 0 28px;

    }
}

@media screen and (max-width: 319px) {
    .place {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        max-height: 1042px;
        gap: 0;
        margin-bottom: 50px;
    }

    .place:last-child {
        margin-bottom: 0;
    }
}