.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 456px;
    min-height: 46px;
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
        margin: 32px 16px;
        align-self: flex-start;
    }
}